.clock {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}

.hand {
    width: 40%;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    transition: transform 0.5s ease-in-out;
}

.hour {
    height: 4px;
    width: 25%;
}

.second {
    background-color: red;
}

.round {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hand3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 5px;
}

.hand6 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 3px;
}

.hand9 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 10px;
}

.hand12 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10px;
}